

<%= link_to "Submit a new link", new_link_path %>

<ul>
  <% @links.each do |link| %>
    <li>
      <a id="link_<%= link.id %>" href="<%= link.url %>">
        <%= link.title %>
        <%= button_to "Upvote", link_votes_path(link) %>
        <p data-role="score"><%= link.votes %></p>
      </a>
    </li>
  <% end %>
</ul>

